@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman SD";
  src: url("/fonts/Roman SD.ttf") format("opentype");
}

@font-face {
  font-family: "Rosarivo-Regular";
  src: url("/fonts/Rosarivo-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "X360";
  src: url("/fonts/X360.ttf") format("opentype");
}

body {
  /* color: white; */
  width: auto;
  /* background: #16098D; */
  background: rgba(9, 4, 81, 0.95);
  box-shadow: -20px 0px 40px 0px rgba(0, 0, 0, 0.50);
  backdrop-filter: blur(7.5px);
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 400px;
    padding: 100px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 206, 112, 0.2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #ffce70;

    border: 3px solid #ffce70;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #ffce70;
  }
}

.fixed-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure it stays behind the content */
}

body,
html {
  overflow: hidden;
  height: 100%;
}

@keyframes rotate-step {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation-step {
  animation: rotate-step 4s steps(1) infinite;
}


@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #D2A42B;
  -webkit-box-shadow: 0 0 0px 1000px rgba(9, 4, 81, 0.95) border #FFD770 inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #D2A42B;
};
