@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman SD";
  src: url("/fonts/Roman SD.ttf") format("opentype");
}

@font-face {
  font-family: "Rosarivo-Regular";
  src: url("/fonts/Rosarivo-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "X360";
  src: url("/fonts/X360.ttf") format("opentype");
}


body {
  color: white;
  width: auto;
  background: #000;
}
@keyframes bounce {
  0% { transform: translateY(-100px); }
  70% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 400px;
    padding: 100px;
  }

  .scrollbar::-webkit-scrollbar-track {
    
    background: rgba(255, 206, 112, 0.2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #FFCE70;
    
    border: 3px solid #FFCE70;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FFCE70;
  }
}