@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roman SD";
  src: url("/fonts/Roman SD.ttf") format("opentype");
}

@font-face {
  font-family: "Rosarivo-Regular";
  src: url("/fonts/Rosarivo-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "X360";
  src: url("/fonts/X360.ttf") format("opentype");
}


body {
  color: white;
  width: auto;
  background: #000;
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 400px;
    padding: 100px;
  }

  .scrollbar::-webkit-scrollbar-track {
    
    background: rgba(255, 206, 112, 0.2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #FFCE70;
    
    border: 3px solid #FFCE70;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #FFCE70;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-40px);
    opacity: 0.8;
  }
  50% {
    transform: translateX(0px);
    opacity: 1;
  }
  70% {
    transform: translateX(-10px);
  }

}

@keyframes closeAnimation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(110%);
    opacity: 0.8;
  }
  90% {
    transform: translateX(109%);
    opacity: 0;
  }

}


.bounce {
  animation: bounce 1s;
}

.closeAnimation {
  animation: closeAnimation 1s;
}
